## Ignore all lifecycle scripts by default. You can
## still allow them on a per-package basis with
## @lavamoat/allow-scripts
ignore-scripts=true
# Avoid installing packages published in last 2 days
min-release-age=3
## Don't install packages from git urls, which can
## be used to bypass the above two settings
allow-git=none
## allow direct git dependencies only
# allow-git=root

## Enable this if you never want to use git dependencies
## Break git usage for older npm versions that don't
## support allow-git and repositories that override it
git=false

## avoid accidental use of version ranges
save-exact = true